[Unit]
Description=GoodData Smoke testing daemon
After=syslog.target network.target

[Service]
Type=simple

Environment=CONFIG=/etc/smokerd/smokerd.yaml
Environment='OPTIONS=-v --foreground --no-console'
EnvironmentFile=-/etc/default/smokerd

KillMode=mixed
TimeoutStopSec=120s
ExecStart=/usr/bin/smokerd.py -c ${CONFIG} $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
